[Desktop Entry]
Type=Application
Name=Sudoku
Icon=/usr/share/icons/hicolor/86x86/apps/harbour-sudoku.png
X-Nemo-Application-Type=silica-qt5
Comment=Sudoku game for Sailfish
Exec=harbour-sudoku
